@model ICollection<Humin_Man.ViewModels.User.UserViewModel>
@section Styles{ 
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@section Scripts { 
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#user-table").DataTable();
            $(".delete-user-btn").click(function() {
                var id = $(this).data("id");
                $("#delete-user-form input[name='id'] ").val(id);
                $("#delete-user-form").submit();
            });

        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a asp-action="Create" asp-controller="User" class="btn btn-success mb-3">Create New User</a>
                    <table id="user-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>UserName</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>PhoneNumber</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.Email</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="javascript:;" class="btn btn-info delete-user-btn" data-id="1"><i class="fas fa-trash"></i></a>

                                        <a asp-action="Update" asp-controller="User" asp-route-id="@user.Id" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete" asp-controller="User" id="delete-user-form"  class="d-none" >
     <input type="hidden" name="id" />
    </form>
</section>
